
$primary-color: #069620;

.color-message-test {
    background-color: green;
}

.color-channel-test {
    background-color: purple;
}

.col-channel-width {
    width: 300px;
    padding-left: 25px;
}

.channel-input {
  width: 90%;
  .add-button {
    color: $primary-color;
    background-color: white;
  }
}

html, body {
  height: 100%;
}

#user {
  color: white;
}

.add-button:hover {
  color: white;
  background-color: $primary-color;
}

ul {
  list-style-type: none;
  text-align: left;
  margin-left: 0;
  padding-left: 10px;
  li {
    color: white;
    font-size: 120%;
  }
}